body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: 'Inter', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 91px;
  background-color: #21222A;
  padding: 30px 26px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 29px;
  width: 158px;
}

.logo > img {
  height: 29px;
}

.logo > p {
  height: 27px;
  font-size: 22.25px;
  color: #61DAFB;
  font-weight: 700;
}

.title > p {
  margin-top: 7px;
  margin-right: 1px;
  color: #DEEBF8;
  width: 259px;
  height: 21px;
  font-size: 16px;
  text-align: right;
  font-weight: 600;
}